<%= link_to "Add an Idea",  new_idea_path %>

 <table class="table">
 <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Action</th>
 </tr>

 <% @ideas.each do |idea| %>
   <tr>
     <td>
       <%= link_to "#{idea.name}", idea_path(idea) %>
     </td>
     <td>
       <%= Category.find(idea.category_id).name %>
     </td>
     <td>
       <%= link_to "Edit", edit_idea_path(idea) %> | 
       <%= link_to "Delete", idea_path(idea), method: :delete %>
     </td>
   </tr>
 <% end %>
</table>
