<h1>All Categories</h1>
<%= link_to "Add a new Category",  new_admin_category_path %>
<%= link_to "Go to Images",  admin_images_path %>
 <table class="table">
 <tr>
   <th>Name</th>
   <th>Action</th>
 </tr>
   <% @categories.each do |category| %>
 <td><%= link_to category.name, edit_admin_category_path(category) %></td>
 <td>
   <%= link_to "Edit", edit_admin_category_path(category) %> | 
   <%= link_to "Delete", admin_category_path(category), method: :delete %>
 </td>
 </tr>
 <% end %>
</table>
